.admin{
    height: 100vh;
    .admin-header{
        height: 8vh;
        background-color: white;
        padding: 0;
    }
    .admin-content{
        height: 85vh;
        background-color: gainsboro;
        padding: 5px 10px;
    }
    .admin-footer{
        height: 7vh;
        background-color: white;
        padding: 0;
    }
}